$darkgrey: #3f3f3f

.noPadding
  padding-left: 0 !important
  padding-right: 0 !important

.headerContainer
  margin-top: 20px
  padding-left: 15px

.searchLabel
  font-size: 1.7em
  color: $darkgrey

.input-group .form-control:first-child
  border-right-color: transparent
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.075)
  box-shadow: inset 0 1px 0 rgba(0,0,0,.075)

.searchBtn
  position: relative
  top: 0 !important
  background-color: transparent
  border-top-color: #cccccc !important
  border-right-color: #cccccc !important
  border-bottom-color: #cccccc !important
  border-left-color: transparent !important
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.075)
  box-shadow: inset 0 1px 0 rgba(0,0,0,.075)

.contactBg
  background-color: #ededed

.contactList
  height: 504px

.contactBorder
  background-color: #ffffff
  border: #d3d3d3
  margin: 20px 10px 0 0
  padding: 20px
  height: 400px
  position: fixed
  transition: height 0.5s
  -webkit-transition: height 0.5s
  overflow: hidden
  -webkit-box-shadow: 1px 2px 8px 2px rgba(63, 63, 63, 1)
  -moz-box-shadow: 1px 2px 8px 2px rgba(63, 63, 63, 1)
  box-shadow: 1px 2px 8px 2px rgba(63, 63, 63, 1)
  &:hover
    height: 500px

.contactImg
  height: 264px !important

.imgLogo
  max-width: 23%
  position: relative
  bottom: 14px
  left: 10px
  margin-bottom: 20px

.title
  padding-bottom: 15px
  position: relative
  bottom: 15px

.containerText
  font-size: .9em

.containerTitle
  font-size: .7em